<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title style="font-weight: bold">Welcome to Shrimpee</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>

</head>
<body style="background-color: peachpuff">
<div class="container-fluid text-center">
    <h1>Welcome to Shrimpee</h1>
    <a th:href="@{/users}"><img src="images/title (1).png" ></a>
    <h2><a class="h2" th:href="@{/users}">Shrimpee Shop</a></h2>
</div>
</body>
</html>